{% extends "base_admin.html" %}
{% load static %}
{% load l10n %}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
{% block contenido %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <br>
        <div class="col-md-9">
          <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-edit"></i>Cierres Mensuales</h3>
            </div>
            <div class="card-body">
              <form class="col-12" action="{% url 'cierre_mensual_print' %}" method="POST" id="formCierreMensual">
                {% csrf_token %}
                <div class="row col-12">
                  <div class="form-group col-3">
                      <label for="mes">Mes:</label>
                      <select class="form-control" id="mes" name="mes">
                        <option selected value="1">Enero</option>
                        <option value="2">Febrero</option>
                        <option value="3">Marzo</option>
                        <option value="4">Abril</option>
                        <option value="5">Mayo</option>
                        <option value="6">Junio</option>
                        <option value="7">Julio</option>
                        <option value="8">Agosto</option>
                        <option value="9">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                      </select>
                  </div>
                  <div class="form-group col-3">
                    <label for="year">Año:</label>
                    <select class="form-control" id="year" name="year">
                      <option value="2018">2018</option>
                      <option value="2019">2019</option>
                      <option value="2020">2020</option>
                      <option value="2021">2021</option>
                      <option value="2022">2022</option>
                      <option selected value="2023">2023</option>
                      <option value="2024">2024</option>
                      <option value="2025">2025</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <button type="submit" class="btn btn-primary" formtarget="_blank" id="btnImprimir">Imprimir</button>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
</section>
{% endblock contenido %}

{% block js%}
<!-- jQuery -->
<script src="{% static  'admin/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static  'admin/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static  'admin/dist/js/adminlte.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

{% endblock js %}