<!DOCTYPE html>
{% load static %} {% load tz %} {% load humanize %} {% load l10n %}
<html lang="es">
 
<head>

  <meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://files.codepedia.info/files/uploads/iScripts/html2canvas.js"></script>
  <title>CIERRE {{year}}</title>
  <link rel="icon" href="{% static  'plantilla/images/favicon/favicon-32x32.png' %}" sizes="32x32">
  <!-- Favicons-->
  <link rel="apple-touch-icon-precomposed" href="{% static  'plantilla/images/favicon/apple-touch-icon-152x152.png' %}">
  <!-- For iPhone -->
  <meta name="msapplication-TileColor" content="#00bcd4">
  <meta name="msapplication-TileImage" content="{% static  'plantilla/images/favicon/mstile-144x144.png' %}">
  <style>
    * {
      font-size: 14px;
      font-family: 'Times New Roman';
      font-weight: bold;
    }
    
    .centrado {
      text-align: center;
      align-content: center;
    }
    img {
      max-width: inherit;
    }
    @page {
        size: A4;
        margin: 5mm;  /* afecta el margen en la configuración de impresión */
      }
  </style>
<script>
    function imprimir(){
      window.print();
    }
</script>
</head>

<body onload="imprimir()">
  <div class="ticket">
      <table>
        <tbody>
          <tr>
            <td width="200" >
              <img src="{{empresa.logo_empresa.path}}" width="300px" class="img-responsive" alt="Logo">
            </td>
            <td>
              <center>
                <!--<span style="font-size: 40px;">{{empresa.nombre_empresa}}</span><br><br>                  style="margin: 0 auto !important; height: {{altura}}px; width: {{anchura}}px;"-->
                <p style="font-size: 20px;">DIRECCIÓN: {{empresa.direccion_empresa}}<br>TELÉFONO: {{empresa.telefono_empresa}} {% if empresa.celular_empresa %} | {{empresa.celular_empresa}} {% endif %}<br>FMC No. 3172NF</p>
            </center>  
            </td>
          </tr>
        </tbody>
      </table>

      <table class="centrado" width="100%">
        <tbody>
          <tr>
            <center><td style="font-size: 25px;">CIERRE DEL AÑO {{year}}</td></center>
          </tr>
        </tbody>
      </table>
      <table width="100%" border="1" cellspacing="3" cellpadding="3">
        <center>
          <tr>
            <th style="font-size: 18px;">Mes</th>
            <th style="font-size: 18px;">Envíos</th>
            <th style="font-size: 18px;">Cajas</th>
            <th style="font-size: 18px;">Vehículos</th>
            <th style="font-size: 18px;">Contenedores</th>
          </tr>
        </center>
        <tr>
          <td style="text-align: center;">Enero</td>
          <td style="text-align: right;">$ {{ resultados_envios.1 }}</td>
          <td style="text-align: right;">$ {{ resultados_cajas.1  }}</td>
          <td style="text-align: right;">$ {{ resultados_vehiculos.1  }}</td>
          <td style="text-align: right;">$ {{ resultados_contenedores.1  }}</td>
        </tr>
        <tr>
          <td style="text-align: center;">Febrero</td>
          <td style="text-align: right;">$ {{ resultados_envios.2 }}</td>
          <td style="text-align: right;">$ {{ resultados_cajas.2  }}</td>
          <td style="text-align: right;">$ {{ resultados_vehiculos.2  }}</td>
          <td style="text-align: right;">$ {{ resultados_contenedores.2  }}</td>
        </tr>
        <tr>
          <td style="text-align: center;">Marzo</td>
          <td style="text-align: right;">$ {{ resultados_envios.3 }}</td>
          <td style="text-align: right;">$ {{ resultados_cajas.3  }}</td>
          <td style="text-align: right;">$ {{ resultados_vehiculos.3  }}</td>
          <td style="text-align: right;">$ {{ resultados_contenedores.3  }}</td>
        </tr>
        <tr>
          <td style="text-align: center;">Abril</td>
          <td style="text-align: right;">$ {{ resultados_envios.4 }}</td>
          <td style="text-align: right;">$ {{ resultados_cajas.4  }}</td>
          <td style="text-align: right;">$ {{ resultados_vehiculos.4  }}</td>
          <td style="text-align: right;">$ {{ resultados_contenedores.4  }}</td>
        </tr>
        <tr>
          <td style="text-align: center;">Mayo</td>
          <td style="text-align: right;">$ {{ resultados_envios.5 }}</td>
          <td style="text-align: right;">$ {{ resultados_cajas.5  }}</td>
          <td style="text-align: right;">$ {{ resultados_vehiculos.5  }}</td>
          <td style="text-align: right;">$ {{ resultados_contenedores.5  }}</td>
        </tr>
        <tr>
          <td style="text-align: center;">Junio</td>
          <td style="text-align: right;">$ {{ resultados_envios.6 }}</td>
          <td style="text-align: right;">$ {{ resultados_cajas.6  }}</td>
          <td style="text-align: right;">$ {{ resultados_vehiculos.6  }}</td>
          <td style="text-align: right;">$ {{ resultados_contenedores.6  }}</td>
        </tr>
        <tr>
          <td style="text-align: center;">Julio</td>
          <td style="text-align: right;">$ {{ resultados_envios.7 }}</td>
          <td style="text-align: right;">$ {{ resultados_cajas.7  }}</td>
          <td style="text-align: right;">$ {{ resultados_vehiculos.7  }}</td>
          <td style="text-align: right;">$ {{ resultados_contenedores.7  }}</td>
        </tr>
        <tr>
          <td style="text-align: center;">Agosto</td>
          <td style="text-align: right;">$ {{ resultados_envios.8 }}</td>
          <td style="text-align: right;">$ {{ resultados_cajas.8 }}</td>
          <td style="text-align: right;">$ {{ resultados_vehiculos.8  }}</td>
          <td style="text-align: right;">$ {{ resultados_contenedores.8  }}</td>
        </tr>
        <tr>
          <td style="text-align: center;">Septiembre</td>
          <td style="text-align: right;">$ {{ resultados_envios.9}}</td>
          <td style="text-align: right;">$ {{ resultados_cajas.9  }}</td>
          <td style="text-align: right;">$ {{ resultados_vehiculos.9  }}</td>
          <td style="text-align: right;">$ {{ resultados_contenedores.9  }}</td>
        </tr>
        <tr>
          <td style="text-align: center;">Octubre</td>
          <td style="text-align: right;">$ {{ resultados_envios.10 }}</td>
          <td style="text-align: right;">$ {{ resultados_cajas.10  }}</td>
          <td style="text-align: right;">$ {{ resultados_vehiculos.10  }}</td>
          <td style="text-align: right;">$ {{ resultados_contenedores.10  }}</td>
        </tr>
        <tr>
          <td style="text-align: center;">Noviembre</td>
          <td style="text-align: right;">$ {{ resultados_envios.11 }}</td>
          <td style="text-align: right;">$ {{ resultados_cajas.11  }}</td>
          <td style="text-align: right;">$ {{ resultados_vehiculos.11  }}</td>
          <td style="text-align: right;">$ {{ resultados_contenedores.11  }}</td>
        </tr>
        <tr>
          <td style="text-align: center;">$ Diciembre</td>
          <td style="text-align: right;">$ {{ resultados_envios.12 }}</td>
          <td style="text-align: right;">$ {{ resultados_cajas.12  }}</td>
          <td style="text-align: right;">$ {{ resultados_vehiculos.12  }}</td>
          <td style="text-align: right;">$ {{ resultados_contenedores.12  }}</td>
        </tr>
        <tr>
          <td><b>Total Anual</b></td>
          <td style="text-align: right;">$ {{ total_anual_envios }}</td>
          <td style="text-align: right;">$ {{ total_anual_cajas }}</td>
          <td style="text-align: right;">$ {{ total_anual_vehiculos }}</td>
          <td style="text-align: right;">$ {{ total_anual_contenedores }}</td>
          </tr>
      </table>
  </div>
  <div>
    <center>
      <br>
      <p style="font-size: 25px;">Total General</p>
      <p style="font-size: 20px">$ {{ total_general }}</p>
    </center>
  </div>
</body>
</html>
