{% extends "base_admin.html" %}
{% load humanize %}
{% load l10n %}
{% block titulo %}EXPRESS ENVIOS HN{% endblock titulo %}
{% block contenido %}

<section class="content">
    <div class="container-fluid">
        <br>
        <div class="container">
            <div class="card col-12">
                <div class="card-header">
                    <div class="row">
                        <div class="div">
                            <h4>Distribucion de cajas</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row pt-2">
                        <div class="col-3">
                            <div class="input-group mb-3 text-uppercase">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Guia Hija: </span>
                                </div>
                                <input type="text" class="form-control bg-white" aria-describedby="basic-addon1" id="guiaHija">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- contenido del camion -->
        <div class="container">
            <form id="trasladarForm" method="POST" action="." enctype="multipart/form-data">
                {% csrf_token %}
                <div  class="card col-12">
                    <div class="card-header">
                        <div class="row">
                            <div class="div">
                                <h4>Detalle de camión</h4>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-6">
                                            <label>Camion:</label>
                                            <select class="select2" style="width: 100%;" id="id_camion" name="camion">
                                                <option selected value="0">--Seleccione--</option>
                                                {% for camion in camiones %}
                                                <option value="{{camion.pk}}">{{camion.placa}} | {{camion.descripcion}} </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row pt-2">
                                <div class="col-3">
                                    <div class="input-group mb-3 text-uppercase">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Numero: </span>
                                        </div>
                                        <input type="text" class="form-control bg-white" aria-describedby="basic-addon1" id="camionId" disabled>
                                    </div>
                                </div>
                                <div class="col-1"></div>
                                <div class="col-6">
                                    <div class="input-group mb-3 text-uppercase">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Descripcion: </span>
                                        </div>
                                        <input type="text" class="form-control bg-white" aria-describedby="basic-addon1" id="camionDescripcion" disabled>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <table id="camionDetalle" class="table table-bordered table-striped text-uppercase text-center">
                                    <thead>
                                        <tr>
                                            <th scope="col">Guía hija</th>
                                            <th scope="col">Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-3">
                                <button type="submit" class="btn float-left btn-info">Cargar</button>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-8">
                                <p class="text-muted">Las cajas se asignaran al camion seleccionado y se cambiaran a estado En Transito Para Entrega</p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


</section>
{% endblock contenido %}
{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.8/sweetalert2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
<script>

$('#id_camion').change(function(){
    var camion_id = $(this).val();
    var camion_desc = $('#id_camion option:selected').text();

    if(camion_id == 0){
        $.notify("Error, Seleccion No Valida",{
            className: 'error',
            globalPosition:"right top", 
            clickToHide: true,
            autoHide: true,
            autoHideDelay: 5000,
            arrowShow: true,
            arrowSize: 5,
            style: 'bootstrap',
            showAnimation: 'slideDown',
            showDuration: 400,
            hideAnimation: 'slideUp',
            hideDuration: 200,
            gap: 2
        });
        $('#camionId').val("");
        $('#camionDescripcion').val("");
    }else{
        $('#camionId').val(camion_id);
        $('#camionDescripcion').val(camion_desc);
    }
});

$('#guiaHija').keypress(function(e){
    if (e.which == 13){
        var guia_hija = $(this).val();

        $('#camionDetalle').append(
            '<tr>'+
                '<td>' + guia_hija + '</td>' +
                '<td>' + `<a rel="eliminarRow" class="btn btn-danger btn-sm btn-flat rounded font-weight-bolder" title="Eliminar Fila">
                    <i class="fa fa-solid fa-delete-left"></i> Eliminar</a>` + '</td>' +
            '</tr>'
            );
        
        $.notify("Agregado a lista",{
            className: 'success',
            globalPosition:"right top", 
            clickToHide: true,
            autoHide: true,
            autoHideDelay: 5000,
            arrowShow: true,
            arrowSize: 5,
            style: 'bootstrap',
            showAnimation: 'slideDown',
            showDuration: 400,
            hideAnimation: 'slideUp',
            hideDuration: 200,
            gap: 2
        });
        
        $(this).val("");
        $(this).focus();
    }
});

$('#camionDetalle tbody').on('click', 'a[rel="eliminarRow"]',function(){
    $(this).closest('tr').remove();
});

$('#trasladarForm').submit(function(event){
    event.preventDefault(); // Previene el envío del formulario
    var parametros = new FormData();
    token = $('input[name="csrfmiddlewaretoken"]').val();
    var cajas = [];
    var id_camion = $('#id_camion').val();
    $('#trasladarForm table tbody tr').each(function(){
        // Obtiene los datos de cada fila
        cajas.push($(this).find('td:nth-child(1)').text());
        // cajas.push({'id_caja': id_caja});
    });
    parametros.append('guia_Hijas', cajas);
    parametros.append('id_camion', id_camion);
    parametros.append('csrfmiddlewaretoken', token);
    // Envía los datos a la vista
    // alert(cajas);
    $.ajax({
        url: window.location.pathname,
        type: 'POST',
        data: parametros,
        dataType: 'json',
        contentType: 'multipart/form-data',
        processData: false,
        contentType: false,
        success: function(result){
            if (result == "correcto"){
                // alert("lol");
                $('#trasladarForm')[0].reset();
                $('#camionDetalle tbody tr').remove();
                $('#id_camion').empty();
                $('#id_camion').html(`<option selected value="0">--Seleccione--</option>
                                        {% for camion in camiones %}
                                        <option value="{{camion.pk}}">{{camion.placa}} | {{camion.descripcion}} </option>
                                        {% endfor %}`);
                texto = "Camion cargado con exito.";
                Swal.fire({
                    icon: 'success',
                    title: 'Correcto',
                    text: texto
                });
            } else {
                Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: result
                    });
            }
        }
    });
});
</script>
{% endblock js %}