<!DOCTYPE html>
{% load static %} {% load tz %} {% load humanize %} {% load l10n %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Envio No. {{envio.pk}} | {{envio.quien_envia}}</title>
    <style type="text/css">
        * {
            font-size: 14px;
            font-family: 'Times New Roman';
            font-weight: bold;
        }

        .centrado {
            text-align: center;
            align-content: center;
        }

        .ticket {
            width: 100%;

        }

        .tablas {
            border: 3px solid black;
            border-collapse: collapse;
        }

        img {
            max-width: inherit;
            border: 3px solid black;
        }
    </style>
    {% if empleado.nombres_empleado == 'ESTAFETA USA' or  empleado.nombres_empleado == 'ESTAFETA' %}
        <style type="text/css">
            @page {
                size: 220mm 140mm; /* ancho de media página A4, altura de página completa A4 */
                margin: 5mm; /* margen de 5mm en todos los lados */
            }
        </style>
    {% else %}
        <style type="text/css">
            @page {
                size: A4 landscape; /* ancho de media página A4, altura de página completa A4 */
                margin: 5mm; /* margen de 5mm en todos los lados */
            }
        </style>
    {% endif %}
    <script>
        function printPage() {
            window.print();
        }
    </script>
</head>

<body>
    <div class="container" onload="printPage()">
        <div class="row">
            <div class="col-10">
                <div class="ticket">
                    
                    {% if empleado.nombres_empleado == 'ESTAFETA USA' or  empleado.nombres_empleado == 'ESTAFETA' %}
                        <!-- Estafeta -->
                        {% if envio.revendedor %}
                            {% if lista %}

                                {% for l in lista %}
                                <div class="tpage">
                                    <table>
                                        <tbody style="text-align:center;">
                                            <tr>
                                                <td><img width="481px" height="87px"src="{{revendedor.logo.path}}" style="margin-top:10px;"></td>
                                                <td ><img src="data:image/png;base64,{{l.qr_code}}" height="150" width="150"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table>
                                                        <tr>
                                                            <td style="font-size: 20px;">
                                                                DIRECCIÓN: {{revendedor.direccion}}<br>TELÉFONO:
                                                                {{revendedor.telefono}} {% if revendedor.celular_empresa %} |
                                                                {{revendedor.celular_empresa}} {% endif %}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size:40px;font-weight: bold;text-align:center;color:#ff4444">
                                                                Guia: {{l.guia_padre}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size:16px;font-weight: bold; padding-top:3px; padding-bottom: 1px;">
                                                                {{l.comentario}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size:30px;font-weight: bold;">
                                                                <br>
                                                                {{forloop.counter}} / {{cantT}}
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td>
                                                    <table class="tablas" width="100%" cellspacing="3" cellpadding="3">
                                                            <tr>
                                                                <td
                                                                    style="font-size:16px;font-weight: bold; padding-top:3px; padding-bottom: 1px;">
                                                                    DATOS CONSIGNATARIO:</td>
                                                            </tr>
                                                            <tr>
                                                                <td
                                                                    style="font-size:20px;font-weight: bold; padding-top:3px; padding-bottom: 1px;">
                                                                    {{l.destinatario}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td
                                                                    style="font-size:20px;font-weight: bold; padding-top:3px; padding-bottom: 1px;">
                                                                    Producto: {{l.producto}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td
                                                                    style="font-size:18px;font-weight: bold; padding-top:3px; padding-bottom: 1px;">
                                                                    {{l.pais}} | {{l.departamento}} | {{l.direccion}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td
                                                                    style="font-size:20px;font-weight: bold; padding-top:3px; padding-bottom: 1px;">
                                                                    {{l.telefono}}</td>
                                                            </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                        <!-- FIN Estafeta -->
                    {% else %}
                        <!-- general -->
                        {% if envio.revendedor %}
                            {% if lista %}
                                {% for l in lista %}
                                <div class="container tpage">
                                    <center>
                                        <br>
                                        <table style="width: auto; height: auto; border-collapse: collapse;">
                                            <tbody>
                                                {% if revendedor.logo %}
                                                    <tr>
                                                        <td><img width="481px" height="87px"src="{{revendedor.logo.path}}" style="margin-top:10px;"></td>
                                                        <td ><img src="data:image/png;base64,{{l.qr_code}}" height="150" width="150"></td>
                                                    </tr>
                                                {% else %}
                                                    <tr>
                                                        
                                                        <td style="font-size: 58px;">
                                                            {{revendedor.nombre_completo}}
                                                        </td>
                                                        <td>
                                                            <img style="text-align: right;" src="data:image/png;base64,{{l.qr_code}}" height="190" width="190">
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                                
                                                <tr style="padding-top: 20px;">
                                                    <td>
                                                        <table>
                                                            <tr>
                                                                <td style="font-size: 28px;">
                                                                    DIRECCIÓN: {{revendedor.direccion}}<br>TELÉFONO:
                                                                    {{revendedor.telefono}} {% if revendedor.celular_empresa %} |
                                                                    {{revendedor.celular_empresa}} {% endif %}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-size:55px;font-weight: bold;text-align:center;color:#ff4444">
                                                                    Guia: {{l.guia_padre}}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-size:24px;font-weight: bold; padding-top:10px; padding-bottom: 1px;">
                                                                    {{l.comentario}}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-size:32px;font-weight: bold;">
                                                                    <br>
                                                                    {{forloop.counter}} / {{cantT}}
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td style="padding-top: 20px;">
                                                        <table class="tablas" width="100%" cellspacing="3" cellpadding="3">
                                                            <tbody>
                                                                <tr>
                                                                    <td
                                                                        style="font-size:20px;font-weight: bold; padding-top:3px; padding-bottom: 1px;">
                                                                        DATOS CONSIGNATARIO:</td>
                                                                </tr>
                                                                <tr>
                                                                    <td
                                                                        style="font-size:30px;font-weight: bold; padding-top:3px; padding-bottom: 1px;">
                                                                        {{l.destinatario}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td
                                                                        style="font-size:28px;font-weight: bold; padding-top:3px; padding-bottom: 1px;">
                                                                        Producto: {{l.producto}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td
                                                                        style="font-size:26px;font-weight: bold; padding-top:3px; padding-bottom: 1px;">
                                                                        {{l.pais}} | {{l.departamento}} | {{l.direccion}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td
                                                                        style="font-size:24px;font-weight: bold; padding-top:3px; padding-bottom: 1px;">
                                                                        Tel. {{l.telefono}}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div style="page-break-before: always;"></div>
                                </div>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                        <!-- FIN general -->
                    {% endif %}
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>

</body>

</html>