<!DOCTYPE html>
{% load static %} {% load tz %} {% load humanize %} {% load l10n %}
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Envio No. {{envio.pk}} | {{envio.quien_envia}}</title>
  <style type="text/css">
    * {
      font-size: 14px;
      font-family: 'Times New Roman';
      font-weight: bold;
    }

    .centrado {
      text-align: center;
      align-content: center;
    }
    .ticket{
      width:100%;
      
    }
    .tablas{
      border: 3px solid black;
      border-collapse: collapse;
    }
    img {
      max-width: inherit;
    }
    @page {
        size: A4;
        margin: 5mm;  /* afecta el margen en la configuración de impresión */
      }
  </style>
  <script>
    function printPage(){
      window.print();
    }
  </script>
</head>

<body >
  <div class="container" onload="printPage()">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="container ticket">
          {% if envio.revendedor %}
          {% if lista %}

          {% for l in lista  %}
          <div class="row page1"></div>
          <div class="container tpage">
            <center>
              <div style="text-align:center;"><img width="750px" height="250px" src="{{revendedor.logo.path}}" style="margin-top:10px;"></div>

              <p style="font-size: 20px;">DIRECCIÓN: {{revendedor.direccion}}<br>TELÉFONO:
                {{revendedor.telefono}} {% if revendedor.celular_empresa %} |
                {{revendedor.celular_empresa}} {% endif %}<br></p>
            </center>
            <table width="100%">
              <thead>
                <tr>
                  <th style="font-size:50px;font-weight: bold;text-align:center;color:#ff4444">Guia: {{l.guia_padre}}
                  </th>
                </tr>
              </thead>
            </table>
            <center>
              <div>
                <table class="tablas" width="100%"  cellspacing="3" cellpadding="3" >
                  <tbody>
                    <tr>
                      <td style="font-size:22px;font-weight: bold; padding-top:3px; padding-bottom: 1px;">DATOS CONSIGNATARIO:</td>
                    </tr>
                    <tr>
                      <td style="font-size:30px;font-weight: bold; padding-top:3px; padding-bottom: 1px;">{{l.destinatario}}</td>
                    </tr>
                    <tr>
                      <td style="font-size:30px;font-weight: bold; padding-top:3px; padding-bottom: 1px;">Producto: {{l.producto}}</td>
                    </tr>
                    <tr>
                      <td style="font-size:25px;font-weight: bold; padding-top:3px; padding-bottom: 1px;">{{l.departamento}} | {{l.direccion}}</td>
                    </tr>
                    <tr>
                      <td style="font-size:30px;font-weight: bold; padding-top:3px; padding-bottom: 1px;">{{l.telefono}}</td>
                    </tr>
                  </tbody>
                </table>
              </div><br>
              <!--CANTIDADES DE PAGO-->
              <div class="text-center">
                <img src="data:image/png;base64,{{l.codigo}}" height="120" width="500">
              </div>
            </center>
            <center>
              <p style="font-size:30px;font-weight: bold;">{{forloop.counter}} / {{cantT}} </p>
            </center>
          </div>

          {% endfor %}
          {% else %}
          <div class="row page1"></div>
          <div class="container tpage">
            <div style="text-align:center;"><img width="125px" src="{{revendedor.logo.path}}"></div>
            <table>
              <tbody>
                <tr>
                  <td>
                    <center>
                      <span style="font-size: 30px;">{{revendedor.nombre_empresa}}</span><br>
                      <span style="font-size: 15px;">{{revendedor.direccion}}<br>TELÉFONO:
                        {{revendedor.telefono_empresa}}
                        / {{revendedor.celular_empresa}}</span><br><span style="font-size: 20px;"></span>
                    </center>
                  </td>
                </tr>
              </tbody>
            </table>
            <table width="100%">
              <tbody>
                <tr>
                  <td style="font-size:50px;font-weight: bold;text-align:center;color:#ff4444">Guia: {{envio.codigo}}
                  </td>
                </tr>
              </tbody>
            </table>
            <table width="100%" border="1" cellspacing="3" cellpadding="3">
              <tbody>
                <tr>
                  <td style="font-size:15px;font-weight: bold;">DATOS CONSIGNATARIO:</td>
                </tr>
                <tr>
                  <td style="font-size:25px;font-weight: bold;">{{envio.quien_recibe}} {{envio.quien_recibev}}</td>
                </tr>
                <tr>
                  <td style="font-size:20px;font-weight: bold;">{{envio.departamento_destino}},
                    {{envio.direccion_registrar}}</td>
                </tr>
                <tr>
                  <td style="font-size:30px;font-weight: bold;">{{envio.telefonos}}</td>
                </tr>
              </tbody>
            </table><br>
            <!--CANTIDADES DE PAGO-->
            <center><img src="data:image/png;base64,{{codigo}}" height="60" width="250"></center>
            <center>
              <p style="font-size:30px;font-weight: bold;">{{forloop.counter}} / {{cantT}} </p>
            </center>
          </div>

          {% endif %}

          {% else %}
          {% if lista %}
          {% for l in lista  %}
          <!-- este -->
          <!-- <div class="row page1"></div> -->
          {% if forloop.first %}
          {% else %}
            <div style="page-break-after: always;"></div>
          {% endif %}
          <div class="container tpage" >
            <br>
            <div style="text-align: right;">
              <img src="data:image/png;base64,{{l.qr_code}}" height="180" width="180">
            </div>
            <center>
              <div style="text-align:center;"><img width="300px" src="{{envio.empresa.logo_empresa.path}}" style="margin-top:10px;"></div>

              <p style="font-size: 20px;">DIRECCIÓN: {{envio.empresa.direccion_empresa}}<br>TELÉFONO:
                {{envio.empresa.telefono_empresa}} {% if envio.empresa.celular_empresa %} |
                {{envio.empresa.celular_empresa}} {% endif %}<br>FMC No. 3172NF</p>
            </center>
            <table width="100%">
              <thead>
                <tr>
                  <th style="font-size:50px;font-weight: bold;text-align:center;color:#ff4444">Guia: {{l.guia_padre}}
                  </th>
                </tr>
              </thead>
            </table>
            <center>
              <div>
                <table class="tablas" width="100%"  cellspacing="3" cellpadding="3" >
                  <tbody>
                    <tr>
                      <td style="font-size:22px;font-weight: bold; padding-top:3px; padding-bottom: 1px;">DATOS CONSIGNATARIO:</td>
                    </tr>
                    <tr>
                      <td style="font-size:30px;font-weight: bold; padding-top:3px; padding-bottom: 1px;">{{l.destinatario}}</td>
                    </tr>
                    <tr>
                      <td style="font-size:30px;font-weight: bold; padding-top:3px; padding-bottom: 1px;">Producto: {{l.producto}}</td>
                    </tr>
                    <tr>
                      <td style="font-size:25px;font-weight: bold; padding-top:3px; padding-bottom: 1px;">{{l.departamento}} | {{l.direccion}}</td>
                    </tr>
                    <tr>
                      <td style="font-size:30px;font-weight: bold; padding-top:3px; padding-bottom: 1px;">{{l.telefono}}</td>
                    </tr>
                  </tbody>
                </table>
              </div><br>
              <!--CANTIDADES DE PAGO-->
              <!-- <div class="text-center">
                <img src="data:image/png;base64,{{l.codigo}}" height="120" width="500">
              </div> -->
              
            </center>
            <center>
              <p style="font-size:30px;font-weight: bold;">{{forloop.counter}} / {{cantT}} </p>
            </center>
            <!-- <br><br></br> -->
          </div> <!-- CONTAINER -->
          <!-- <div class="row page1"></div> -->
          {% endfor %}
          {%else%}
          <!-- <div class="row page1"></div> -->
          <div class="container tpage">
            <center>
              <div style="text-align:center;"><img width="125px" src="/media/{{envio.empresa.logo_empresa.path}}"></div>

              <p style="font-size: 20px;">DIRECCIÓN: {{envio.empresa.direccion_empresa}}<br>TELÉFONO:
                {{envio.empresa.telefono_empresa}} {% if envio.empresa.celular_empresa %} |
                {{envio.empresa.celular_empresa}} {% endif %}<br>FMC No. 3172NF</p>
            </center>
            <table width="100%">
              <tbody>
                <tr>
                  <td style="font-size:50px;font-weight: bold;text-align:center;color:#ff4444">Guia: {{envio.codigo}}
                  </td>
                </tr>
              </tbody>
            </table>
            <div>
              <table width="100%" border="1" cellspacing="3" cellpadding="3">
                <tbody>
                  <tr>
                    <td style="font-size:15px;font-weight: bold;">DATOS CONSIGNATARIO:</td>
                  </tr>
                  <tr>
                    <td style="font-size:25px;font-weight: bold;">{{envio.quien_recibe}} {{envio.quien_recibe}}</td>
                  </tr>
                  <tr>
                    <td style="font-size:20px;font-weight: bold;">{{envio.departamento_destino}},
                      {{envio.direccion_registrar}}</td>
                  </tr>
                  <tr>
                    <td style="font-size:30px;font-weight: bold;">{{envio.quien_recibe.celular}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br>

            <center><img src="data:image/png;base64,{{codigo}}" height="60" width="250"></center>
            <center>
              <p style="font-size:30px;font-weight: bold;">{{forloop.counter}} / {{cantT}} </p>
            </center>
          </div>

          {% endif %}


          {% if envio.emplasticado %}
          <br>
          <table width="100%">
            <tbody>
              <tr>
                <td>
                  <center><span style="font-size: 30px;text-align:center;">EMPLASTICADO</span></center>
                </td>
              </tr>
            </tbody>
          </table>
          {% endif %}
          {% endif %}
          <table width="100%">
            <tbody>
              <tr>
                <td style="font-size:25px;font-weight: bold;text-align:center;color:#ff4444">GR:
                  {{envio.guia_revendedor}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>

</body>
</html>