<!DOCTYPE html>
{% load static %} {% load tz %} {% load humanize %} {% load l10n %}
<html lang="es">

<head>
  <title>Recibo No. {{contenedor}}</title>
  <meta charset="UTF-8">
  <style>
    * {
      font-size: 14px;
      font-family: 'Times New Roman';
      font-weight: bold;
    }

    .centrado {
      text-align: center;
      align-content: center;
    }

    .ticket {
      width: 287px;
      max-width: 287px;
    }

    img {
      max-width: inherit;
    }

    /* @page 
    {
        size:  auto;   /* auto es el valor inicial 
        margin: 5mm;  /* afecta el margen en la configuración de impresión 
    }*/
  </style>

</head>

<body>
  <div id="html-content-holder">
    <table>
      <tbody>
        <tr>
          <td width="20%" ></td>
          <td>
            <center>
                <img src="{{empresa.logo_empresa.path}}" width="200px" class="img-responsive" alt="Firmas De la Solicitud">
                <p style="font-size: 18px;">DIRECCIÓN: {{empresa.direccion_empresa}}<br>TELÉFONO: {{empresa.telefono_empresa}} {% if empresa.celular_empresa %} | {{empresa.celular_empresa}} {% endif %}<br>FMC No. 3172NF</p>
            </center>  
          </td>
          <td width="20%"></td>
        </tr>
      </tbody>
    </table>
    </table><br>
    <table width="100%">
      <tbody>
        <tr>
          <td width="63%" style="font-size:20px;font-weight: bold;">Fecha: {{envio.fecha}}</td>
          <td width="20%" style="font-size:20px;font-weight: bold;text-align:right;color:#ff4444">Recibo Nº:</td>
          <td width="10%" style="font-size:30px;font-weight: bold;color:#ff4444">{{envio.recibo_no}}</td>
        </tr>
      </tbody>
    </table>
    <!-- datos remitente -->
    <table width="100%" border="1" cellspacing="3" cellpadding="3">
      <thead>
        <tr>
          <td colspan="2" width="100%" style="font-size:15px;font-weight: bold; text-align: center;">DATOS DEL REMITENTE:</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td width="50%" style="font-size:15px;font-weight: bold; background-color: #0099CC;">NOMBRE:</td>
          <td width="50%" style="font-size:15px;font-weight: bold;">{{envio.cliente.nombre_completo}}</td>
        </tr>
        <tr>
          <td width="50%" style="font-size:15px;font-weight: bold; background-color: #0099CC;">NUMERO DE PASAPORTE:</td>
          <td width="50%" style="font-size:15px;font-weight: bold;">{{envio.num_pasaporte}}</td>
        </tr>
        <tr>
          <td width="50%" style="font-size:15px;font-weight: bold; background-color: #0099CC;">DIRECCIÓN:</td>
          <td width="50%" style="font-size:15px;font-weight: bold;">{{envio.cliente.direccion}}</td>
        </tr>
        <tr>
          <td width="50%" style="font-size:15px;font-weight: bold; background-color: #0099CC;">TELÉFONO REMITENTE:</td>
          <td width="50%" style="font-size:15px;font-weight: bold;">{{envio.cliente.celular}}, {{envio.telefono_adicional}} </td>
        </tr>
      </tbody>
    </table>
    <br>
    <!-- datos consignatario -->
    <table width="100%" border="1" cellspacing="3" cellpadding="3">
      <thead>
        <tr>
          <td colspan="2" width="100%" style="font-size:15px;font-weight: bold; text-align: center;">DATOS DEL CONSIGNATARIO:</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td width="50%" style="font-size:15px;font-weight: bold; background-color: #0099CC;">NOMBRE:</td>
          <td width="50%" style="font-size:15px;font-weight: bold;">{{envio.nombre_recibe}}</td>
        </tr>
        <tr>
          <td width="50%" style="font-size:15px;font-weight: bold; background-color: #0099CC;">RTN/NIP:</td>
          <td width="50%" style="font-size:15px;font-weight: bold;">{{envio.nip_rtn}}</td>
        </tr>
        <tr>
          <td width="50%" style="font-size:15px;font-weight: bold; background-color: #0099CC;">TELÉFONO:</td>
          <td width="50%" style="font-size:15px;font-weight: bold;">{{envio.telefono_recibe}}</td>
        </tr>
        <tr>
          <td width="50%" style="font-size:15px;font-weight: bold; background-color: #0099CC;">DIRECCIÓN:</td>
          <td width="50%" style="font-size:15px;font-weight: bold;">{{envio.direccion_recibe}}</td>
        </tr>
      </tbody>
    </table>
    <br>
    <!-- datos vehiculo -->
    <table width="100%" border="1" cellspacing="3" cellpadding="3">
      <thead>
        <tr>
          <td colspan="2" width="100%" style="font-size:15px;font-weight: bold; text-align: center;">DATOS DEL VEHÍCULO:</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="font-size:15px;font-weight: bold; background-color: #0099CC;">MARCA VEHICULO:</td>
          <td style="font-size:15px;font-weight: bold;">{{envio.marca_vehiculo}} </td>
        </tr>
        <tr>
          <td style="font-size:15px;font-weight: bold; background-color: #0099CC;">MODELO VEHICULO:</td>
          <td style="font-size:15px;font-weight: bold;">{{envio.modelo_vehiculo}} </td>
        </tr>
        <tr>
          <td style="font-size:15px;font-weight: bold; background-color: #0099CC;">COLOR VEHICULO:</td>
          <td style="font-size:15px;font-weight: bold;">{{envio.color_vehiculo}} </td>
        </tr>
        <tr>
          <td style="font-size:15px;font-weight: bold; background-color: #0099CC;">VIN VEHICULO:</td>
          <td style="font-size:15px;font-weight: bold;">{{envio.vin_vehiculo}} </td>
        </tr>
        <tr>
          <td style="font-size:15px;font-weight: bold; background-color: #0099CC;">PAIS DESTINO | PUERTO DESTINO:</td>
          <td style="font-size:15px;font-weight: bold;">{{envio.pais_destino}} | {{envio.puerto_destino}}</td>
        </tr>
        <tr>
          <td style="font-size:15px;font-weight: bold; background-color: #0099CC;">VALOR DEL VEHÍCULO:</td>
          <td style="font-size:15px;font-weight: bold;">$ {{envio.valor_vehiculo|unlocalize|intcomma}}</td>
        </tr>
      </tbody>
    </table>

    <!--CANTIDADES DE PAGO-->
    <br>
    <table width="100%" cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td width="50%">
            <table>
              <tbody>
                <tr>
                  <td width="100%" colspan="2" style="font-size:16px;font-weight: bold;text-align:center;"> RECIBIDO POR: {{envio.usuario_registro|upper}}</td>
                </tr>
                <tr>
                  <td width="100%" colspan="2" style="font-size:16px;font-weight: bold;text-align:left" align="center">¡GRACIAS POR PREFERIRNOS!</td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                  <td width="50%" style="font-size:15px;font-weight: bold;text-align:right">MONTO ASEGURADO:</td>
                  <td width="25%" style="font-size:15px;font-weight: bold;text-align:right; border-bottom: 1px solid black;">$ {{envio.valor_asegurado|unlocalize|intcomma}}</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td width="50%">
            <table>
              <tr>
                <td width="70%" style="font-size:15px;font-weight: bold;text-align:right">VALOR VEHÍCULO:</td>
                <td width="25%" style="font-size:15px;font-weight: bold;text-align:right;">$ {{envio.valor_vehiculo|unlocalize|intcomma}}</td>
              </tr>
              <tr>
                <td width="70%" style="font-size:15px;font-weight: bold;text-align:right">VALOR SEGURO:</td>
                <td width="25%" style="font-size:15px;font-weight: bold;text-align:right;">$ {{envio.seguro|unlocalize|intcomma}}</td>
              </tr>
              <tr>
                <td width="70%" style="font-size:15px;font-weight: bold;text-align:right">VALOR DOCUMENTACIÓN:</td>
                <td width="25%" style="font-size:15px;font-weight: bold;text-align:right;">$ {{envio.valor_documentacion|unlocalize|intcomma}}</td>
              </tr>
              <tr>
                <td width="70%" style="font-size:15px;font-weight: bold;text-align:right">VALOR ENVIO:</td>
                <td width="25%" style="font-size:15px;font-weight: bold;text-align:right;border-bottom: 3px solid black;">$ {{envio.valor_envio_vehiculo|unlocalize|intcomma}}</td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

  <p class="justify" style="font-size:12px"><strong>{{envio.empresa.nombre_empresa}} se limitara a pagar un máximo de
    $500 por el extravió parcial o total, o por averia en su envio cuando no pague seguro. Al enviar con
    {{envio.empresa.nombre_empresa}} usted a aceptado todos los términos y condiciones citadas en la parte de abajo
    de este documento.</strong></p>
  <p class="centrado" style="font-size:14px">TÉRMINOS Y CONDICIONES DEL CONTRATO</p>
  <p style="font-size:12px;text-align:justify;padding-top:-15px;">CONTRATO GENERAL: Al entregarnos sus envíos usted da
    por aceptado los términos y condiciones contenidos en la misma. Ningún agente, empleado o contratista
    independiente de {{envio.empresa.nombre_empresa}}, puede alterar o modificar estos términos y condiciones. GUÍA NO
    NEGOCIABLE: Esta guía no es negociable. Usted garantiza que cada articulo enviado esta debidamente descrito en
    esta guía y es aceptado para ser transportado por nosotros y que el envio ha sido empacado con las condiciones y
    dirección correcta para permitir su transporte seguro y con el cuidado y manejo ordinario. DERECHO DE INSPECCIÓN:
    Su envio puede ser abierto o inspeccionado por nosotros o por las dichas autoridades en cualquier momento.
    ARTÍCULOS QUE NO SON ACEPTADOS PARA TRANSPORTE: No se aceptaran artículos que contengan oro o plata en lingotes,
    cheques viajeros, antigüedades, licores, estampillas, metales preciosos, platos, obras de arte, gemas, explosivos,
    armas de fuego, municiones, drogas, dinero, animales, productos químicos, acciones y bonos, instrumentos
    negociables al portador o artículos restringidos. LIMITE DE RESPONSABILIDAD: La responsabilidad de
    {{envio.empresa.nombre_empresa}} por cualquier perdida o daño del envio esta limitada a $500 del valor declarado
    en el paquete. Cualquier daño o perdidas mayor a los $500 {{envio.empresa.nombre_empresa}} NO se hará responsable.
    El cliente podrá comprar un seguro opcional. {{envio.empresa.nombre_empresa}} no es responsable por perdidas,
    robos o daños por giros postales, cheques personales, cheques de caja o cualquier otro documento de valor o
    cualquier reclamo con los mismos, tendrá que ser presentados por usted directamente a compañías o entidades que
    emitan tales documentos. {{envio.empresa.nombre_empresa}} no es responsable por demoras con el envio cuando
    resulte culpable la linea de transporte o cualquier agente distinto a {{envio.empresa.nombre_empresa}}, como
    también se exime de responsabilidad por causa fortuita o causa mayor. RECLAMOS: Todo reclamo se efectúa en la
    oficina donde el cliente recibe su encomienda, dentro de 5 días a partir de la fecha de haber recibido el
    producto. {{envio.empresa.nombre_empresa}} establece que si el pago no se efectúa dentro de los primeros 15 días
    después que la caja este en bodega Honduras, se aplicara un cargo adicional equivalente al 20% del valor de
    embarque de la factura. En caso de que el pago no se realice en un plazo de 30 días después de llegar a bodega
    Honduras, la caja pasara a nombre de Express Envios Hn y posteriormente sera donado a una organización sin fines
    de lucro.</p>
</body>

</html>