{% extends "base_admin.html" %}
{% load humanize %}
{% load l10n %}
{% block titulo %}EXPRESS ENVIOS HN | IMPRIMIR CARGA DE CAMIONES {% endblock titulo %}
{% block contenido %}
<section>
    <body>
        <div class="container-fluid">
            <br>
            <div class="container col-12">
                <div class="card col-12">
                    <div class="card-header">
                        <div class="row">
                            <div class="div">
                                <p class="fs-3">Cajas cargadas al camion: <span class="text-bold fs-2">{{camion.placa}} |
                                        {{camion.descripcion}}</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="." method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-3">
                                    <div class="input-group mb-3 text-uppercase">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Motorista: </span>
                                        </div>
                                        <input type="text" class="form-control bg-white" aria-describedby="basic-addon1"
                                            id="motorista" name="motorista">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="input-group mb-3 text-uppercase">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Ayuda: </span>
                                        </div>
                                        <input type="text" class="form-control bg-white" aria-describedby="basic-addon1"
                                            id="ayuda" name="ayuda">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="input-group mb-3 text-uppercase">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Fecha: </span>
                                        </div>
                                        <input type="text" class="form-control bg-white" aria-describedby="basic-addon1"
                                            id="fecha" value="{{hoy}}" disabled>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <button type="submit" class="btn float-left btn-info text-uppercase"
                                        id="imprimir" target="blank">Imprimir</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</section>
{% endblock contenido %}
{% block js %}

{% endblock js %}