{% extends "base_admin.html" %}
{% load humanize %}
{% load l10n %}
{% block titulo %}EXPRESS ENVIOS HN{% endblock titulo %}
{% block contenido %}
<div class="row">
    <div class="col s12 m12 l12">
        <div class="card-panel">
            <h4 class="header2">Registrar Envío Contenedor</h4>
            <div class="row">
                {% if errores.extra %}
                    <div id="card-alert" class="card red">
                        <div class="card-content white-text">
                            <p>{{errores.extra}}}</p>
                        </div>
                        <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        </button>
                    </div>
                {% endif %}
                <form class="col s12"  enctype='multipart/form-data' method="POST" action="{% url 'recibo_contenedor' %}" >
                    {% csrf_token %}
                    <div class="row">
                        <div class="col m6 s12">
                            <div class="col m12 s12">
                                <label class="bmd-label-floating has-primary"> Envia</label>
                                <select style="text-transform:uppercase;width: 100%;" id="id_quien_envia" name="quien_envia" class="">
                                    <option value="0" >SELECCIONE</option>
                                    {% for cliente in quien_envia %}
                                        {% ifequal cliente.pk ret_data.quien_envia  %}
                                            <option value="{{cliente.pk}}" >{{cliente.celular}} | {{cliente.nombre_completo}} </option>
                                        {% else %}
                                            <option value="{{cliente.pk}}">{{cliente.celular}} | {{cliente.nombre_completo}}</option>
                                        {% endifequal %}
                                    {% endfor %}
                                </select>
                                    {% if errores.quien_envia %}
                                    <div id="card-alert" class="card red">
                                        <div class="card-content white-text">
                                        <p>{{errores.quien_envia}}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        
                            <div class="input-field col m5 s12">
                                <input id="id_correo" type="email" name="correo" value="{{ret_data.correo}}" required>
                                <label for="correo">Correo</label>
                            </div>
                            <div class="input-field col m4 s12">
                                <input id="id_pasaporte" type="text" value="{% if ret_data.pasaporte != None %}{{ret_data.pasaporte}}{% endif %}" name="pasaporte" required="">
                                <label for="pasaporte">Pasaporte Nº</label>
                                {% if errores.pasaporte %}
                                    <div id="card-alert" class="card red">
                                        <div class="card-content white-text">
                                        <p>{{errores.pasaporte}}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="input-field col m3 s12">
                                <input id="id_telefono2" type="text" value="{% if ret_data.telefono2 != None %}{{ret_data.telefono2}}{% endif %}" name="telefono2" required="">
                                <label for="telefono2">Telefono #2</label>
                                {% if errores.telefono2 %}
                                    <div id="card-alert" class="card red">
                                        <div class="card-content white-text">
                                        <p>{{errores.telefono2}}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>

                            <div class="input-field col m8 s12">
                                <input id="id_quien_recibe" type="text" value="{% if ret_data.quien_recibe != None %}{{ret_data.quien_recibe}}{% endif %}" name="quien_recibe" required="">
                                <label for="quien_recibe">Recibe</label>
                                {% if errores.quien_recibe %}
                                    <div id="card-alert" class="card red">
                                        <div class="card-content white-text">
                                        <p>{{errores.quien_recibe}}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="input-field col m4 s12">
                                <input id="id_rtn" type="text" value="{% if ret_data.rtn != None %}{{ret_data.rtn}}{% endif %}" name="rtn" required="">
                                <label for="rtn">RTN/NIP</label>
                                {% if errores.rtn %}
                                    <div id="card-alert" class="card red">
                                        <div class="card-content white-text">
                                        <p>{{errores.rtn}}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="input-field col m4 s12">
                                <input id="id_telefono_recibe" type="text" value="{% if ret_data.telefono_recibe != None %}{{ret_data.telefono_recibe}}{% endif %}" name="telefono_recibe" required="">
                                <label for="telefono_recibe">Telefono</label>
                                {% if errores.telefono_recibe %}
                                    <div id="card-alert" class="card red">
                                        <div class="card-content white-text">
                                        <p>{{errores.telefono_recibe}}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="input-field col m4 s12">
                                <input id="id_tamano_contenedor" type="text" value="{% if ret_data.tamano_contenedor != None %}{{ret_data.tamano_contenedor}}{% endif %}" name="tamano_contenedor" required="">
                                <label for="tamano_contenedor">Tamaño contenedor</label>
                                {% if errores.tamano_contenedor %}
                                    <div id="card-alert" class="card red">
                                        <div class="card-content white-text">
                                        <p>{{errores.tamano_contenedor}}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="input-field col m4 s12">
                                <input id="id_precio" type="text" value="{% if ret_data.precio != None %}{{ret_data.precio}}{% endif %}" name="precio" required="">
                                <label for="precio">Precio contenedor</label>
                                {% if errores.precio %}
                                    <div id="card-alert" class="card red">
                                        <div class="card-content white-text">
                                        <p>{{errores.precio}}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="input-field col m4 s12">
                                <input id="id_pais_destino" type="text" value="{% if ret_data.pais_destino != None %}{{ret_data.pais_destino}}{% endif %}" name="pais_destino" required="">
                                <label for="pais_destino">Pais destino</label>
                                {% if errores.pais_destino %}
                                    <div id="card-alert" class="card red">
                                        <div class="card-content white-text">
                                        <p>{{errores.pais_destino}}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="input-field col m4 s12">
                                <input id="id_puerto_destino" type="text" value="{% if ret_data.puerto_destino != None %}{{ret_data.puerto_destino}}{% endif %}" name="puerto_destino" required="">
                                <label for="puerto_destino">Puerto destino</label>
                                {% if errores.puerto_destino %}
                                    <div id="card-alert" class="card red">
                                        <div class="card-content white-text">
                                        <p>{{errores.puerto_destino}}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col m6 s12">
                            <h5>Nuevo Cliente</h5><hr>
                            <div class="input-field col m8 s12">
                                <input id="id_nuevo_cliente" type="text" value="{% if ret_data.nuevo_cliente != None %}{{ret_data.nuevo_cliente}}{% endif %}" name="nuevo_cliente" >
                                <label for="nuevo_cliente">Nuevo cliente nombre completo</label>
                                {% if errores.nuevo_cliente %}
                                    <div id="card-alert" class="card red">
                                        <div class="card-content white-text">
                                        <p>{{errores.nuevo_cliente}}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="input-field col m4 s12">
                                <input id="id_telefono1" type="text" value="{% if ret_data.telefono1 != None %}{{ret_data.telefono1}}{% endif %}" name="telefono1" >
                                <label for="telefono1">Nuevo cliente telefono</label>
                                {% if errores.telefono1 %}
                                    <div id="card-alert" class="card red">
                                        <div class="card-content white-text">
                                        <p>{{errores.telefono1}}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            
                            <div class="input-field col m12 s12">
                                <div class="form-group">
                                    <div class="form-group">
                                    <label class="bmd-label-floating"> Nuevo cliente direccion</label>
                                    <textarea id="id_cliente_direccion" style="text-transform: uppercase;" name="cliente_direccion" class="materialize-textarea"  maxlength="300">{{ret_data.cliente_direccion}}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row"> <br>
                        <div class="file-field input-field col m6 s12">
                            <div class="btn">
                                <span>Seleccione pdf</span>
                                <input type="file" type="text" name="pdf">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" name="pdf" placeholder="Seleccione">
                            </div>
                        </div>
                        <div class="input-field col  m4 s12">
                        <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Guardar
                            <i class="material-icons right">send</i>
                        </button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <br><br>
                    <div class="col m12 s12">
                        <table id="dtBasicExample" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                          <thead>
                            <tr>
                              <th>Nombre Completo</th>
                              <th>Celular</th>
                              <th>Recibe</th>
                              <th>Celular</th>
                              <th>Lugar Destino</th>
                              <th>Recibo</th>
                              <th>Art. PDF</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for a in contenedores  %}
                              <tr >
                                <td>{{a.cliente.nombre_completo}} | {{a.num_pasaporte}}</td>
                                <td>{{a.cliente.celular}} | {{a.telefono_adicional}}</td>
                                <td>{{a.nombre_recibe}} | {{a.nip_rtn}}</td>
                                <td>{{a.telefono_recibe}}</td>
                                <td ><address class="fila_{{a.pk}}">{{a.pais_destino}}, {{a.puerto_destino}}</address></td>
                                <td><a type='button' class="btn button btn-primary " href=" {% url 'recibo_contenedor_pdf' a.pk %}" target="_blank"> Ver</a></td>
                                <td><a type='button' class="btn button btn-primary " href="{% url 'ver_pdf_contenedor_pdf' a.pk %}" target="_blank"> Ver</a></td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block js %}
<script>
    $(document).ready(function () {
    var table = $('#dtBasicExample').DataTable({
        "oLanguage": {
                                "sProcessing":     "Procesando...",
                                "sLengthMenu":     "Mostrando _MENU_ registros",
                                "sZeroRecords":    "No se encontraron resultados",
                                "sEmptyTable":     "Ningún dato disponible en esta tabla",
                                "sInfo":           "Mostrando _START_ - _END_ de un total de _TOTAL_ registros",
                                "sInfoEmpty":      "Mostrando 0 - 0 de un total de 0 registros",
                                "sInfoFiltered":   "<br>(filtrado de un total de _MAX_ registros)",
                                "sInfoPostFix":    "",
                                "sSearch":         "Buscar:",
                                "sUrl":            "",
                                "sInfoThousands":  ",",
                                "sLoadingRecords": "Cargando...",
                                "oPaginate": {
                                    "sFirst":    "Primero",
                                    "sLast":     "Último",
                                    "sNext":     "Sig.",
                                    "sPrevious": "Ant."
                                },
                        },
                    responsive: true
    });
    $('.dataTables_length').addClass('bs-select');
    });
</script>
<script>
    $(document).ready(function (){
        $('#dtBasicExample_length').remove();
        $('select').material_select('destroy');
        $("select").select2({
            allowClear:true,
            placeholder: 'Seleccione una opción'
        });
    });
  </script>
{% endblock js %}